<h1>Hello, my name is <%= @specific_profile.show_full_name%></h1>
<p>Username: <%= @specific_profile.username %></p>

<img src="<%= @specific_profile.city_pic %>"/>
<img src="<%= @specific_profile.profile_pic %>"/>


<p><%= @specific_profile.description %></p>
<%= link_to "Facebook", @specific_profile.facebook_page %>
